@keyframes pop-fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.2, 1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes pop-fade {
    0% {
        opacity: 1;
        transform: scale(1, 1);
    }
    100% {
        opacity: 0;
        transform: scale(1.2, 1.2);
    }
}

@keyframes tips-top-fadeIn {
    0% {
        opacity: 0;
        transform: translateY(- $base-height);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes tips-top-fade {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(- $base-height);
    }
}

@keyframes view-bottom-fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes view-bottom-fade {
    0% {
        opacity: 1;
        transform: translateY(0rem);
    }
    100% {
        opacity: 0;
        transform: translateY(10rem);
    }
}
