$min-width: 960px;
$main-color: #4682b4;
$btn-border-color: #adadad;
$line-height: 1.42857143;


$base-color: #333;
$base-height: 1rem;
$base-fontSize: 0.3rem;
$base-size: 0.3rem;

$base-padding: 0.1rem;
$base-smallColor: #aaa;
$base-infoSize: 0.35rem;

$base-primaryColor: #337ab7;
$base-successColor: #5cb85c;
$base-infoColor: #5bc0de;
$base-warningColor: #f0ad4e;
$base-dangerColor: #d9534f;
$base-blueColor: #4682b4;

$base-border: 1px solid #DCDCDC;

$base-iconColor: #DCDCDC;

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:not(input):not(textarea):not(contenteditable) {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

.defaultBackground: {
    @include background-selected;
}

// 取消灰色背景样式
div, div[contentEditable], input, textarea, button, a:link {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

*[class~=btn] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .5);
}

// 如何去掉textarea,input的默认样式（IOS上的圆角及内阴影等）
input,textarea{
    -webkit-appearance:none;
}

// number默认样式
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}
