/*
    按钮
*/
.btn {
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    background-color: white;
    -webkit-user-select: none;
    border-radius: 3px;
    line-height: $base-height;
    font-size: $base-fontSize;
    text-overflow: ellipsis;
    overflow: hidden;
    @include marginTB;
    // margin: .1rem 0;
}

// 禁止样式
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-default[disabled] {
    background-color: #ccc;
}

.btn-primary[disabled] {
    background-color: #265a88;
}

.btn-success[disabled] {
    background-color: #398439;
}

.btn-primary[disabled] {
    background-color: #265a88;
}

.btn-info[disabled] {
    background-color: #46b8da;
}

.btn-warning[disabled] {
    background-color: #eea236;
}

.btn-danger[disabled] {
    background-color: #d43f3a;
}

// 独立样式
.btn-block {
    display: block;
    width: 100%;
}

.btn-radius {
    border-radius: .5rem;
}

.btn-unradius {
    border-radius: 0;
}
