/*
    按钮组合样式
*/
.btn-group {
    display: flex;
    flex-flow: column;
    &.btn-inline {
        flex-flow: row;
        .btn {
            margin: 0 $base-height * 0.1;
        }
    }
    .btn {
        flex: 1;
    }
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    background-color: $base-primaryColor;
    border-color: #2e6da4;
}

.btn-success {
    color: #fff;
    background-color: $base-successColor;
    border-color: #4cae4c;
}

.btn-info {
    color: #fff;
    background-color: $base-infoColor;
    border-color: #46b8da;
}

.btn-warning {
    color: #fff;
    background-color: $base-warningColor;
    border-color: #eea236;
}

.btn-danger {
    color: #fff;
    background-color: $base-dangerColor;
    border-color: #d43f3a;
}
