// 弹框样式 alert

.alert-group {
    width: $modal-width;
    background-color: #ffffff;
    flex-flow: column;
    display: flex;
    text-align: center;
    border-radius: 0.3rem;
    .alert-tx {
        flex: 5;
        color: #000000;
        @include ellipsis2;
        @include flexCenter;
        padding: $base-padding * 6 $base-padding * 2;
        font-size: $base-size * 1.2;
    }
    .alert-btn {
        flex: 2;
        color: $modal-color;
        line-height: 3;
        @include flexCenter;
        @include ellipsis1;
        border-top: $modal-border;
        padding: 0 $base-padding;
        font-size: $base-size * 1.3;
        &:hover {
            @include background-selected;
        }
    }
}
