$modal-border: 1px solid #DCDCDC;
$modal-width: 85%;
$modal-color: #1E90ff;

.pop {
    @include flexCenter;
    display: none;
    &.pop-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: rgba(0,0,0,0.5);
        // display: none;
        &.fadeIn {
            display: flex;
            animation: pop-fadeIn .5s;
            animation-fill-mode: forwards;
        }
        &.fade {
            display: flex;
            animation: pop-fade .3s;
            animation-fill-mode: forwards;
        }
        .pop-foot {
            flex: 2;
            color: $modal-color;
            line-height: 3;
            @include flexCenter;
            @include ellipsis1;
            border-top: $modal-border;
            font-size: $base-size * 1.3;
            [role~=dismiss] {
                flex: 1;
                font-weight: bold;
                border-right: $modal-border;
                padding: 0 $base-padding;
                &:hover {
                    @include background-selected;
                }
            }
            [role~=confirm] {
                padding: 0 $base-padding;
                flex: 1;
                &:hover {
                    @include background-selected;
                }
            }
        }
    }
}
