$min-width: 960px;
$main-color: #4682b4;
$btn-border-color: #adadad;
$line-height: 1.42857143;


$base-color: #333;
$base-height: 1rem;
$base-fontSize: 0.3rem;
$base-size: 0.3rem;

$base-padding: 0.1rem;
$base-smallColor: #aaa;
$base-infoSize: 0.35rem;

$base-primaryColor: #337ab7;
$base-successColor: #5cb85c;
$base-infoColor: #5bc0de;
$base-warningColor: #f0ad4e;
$base-dangerColor: #d9534f;
$base-blueColor: #4682b4;

$base-border: 1px solid #DCDCDC;

$base-iconColor: #DCDCDC;
