/*
    长按：选中样式
*/

@mixin select-none {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin select-text {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

@mixin select-all {
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

@mixin select-element {
    -webkit-user-select: element;
    -khtml-user-select: element;
    -moz-user-select: element;
    -ms-user-select: element;
    user-select: element;
}
