// 颜色
.cl-primary {
    color: $base-primaryColor;
}

.cl-success {
    color: $base-successColor;
}

.cl-info {
    color: $base-infoColor;
}

.cl-warning {
    color: $base-warningColor;
}

.cl-danger {
    color: $base-dangerColor;
}

.cl-primaryBk {
    background-color: $base-primaryColor;
}

.cl-successBk {
    background-color: $base-successColor;
}

.cl-infoBk {
    background-color: $base-infoColor;
}

.cl-warningBk {
    background-color: $base-warningColor;
}

.cl-dangerBk {
    background-color: $base-dangerColor;
}
