#header-container {
    // position: fixed;
    // top: 0;
    // left: 0;
    height: 46px;
    line-height: 46px;
    width: 100%;
    background-color: $main-color;
}
#header-box {
    width: $min-width;
    margin: auto;
}

.zh-top-link-logo {
    background-image: url(../img/new_logo@2x.ad6567b2.png)!important;
    background-size: 61px 30px;
    float: left;
    width: 61px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: 0 8px;
    text-indent: -9999px;
    color: #fff;
    display: block;
}

.zh-top-link-logo:active {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.zh-top-search-box {
    position: relative;
    float: left;
    margin-left: 15px;
    font-size: 12px;
    .header-rsBox {
        position: absolute;
        width: 500px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        box-shadow: 1px 1px 60px #e1eaf2;
        display: none;
        &.active {
            display: inherit;
        }
        li {
            padding: 0 10px;
        }
        .header-list {
            cursor: pointer;
            &:hover {
                background-color: #d6e9f8;
            }
        }
        .header-rsTit {
            line-height: 25px;
            background-color: #e1eaf2;
            color: #49525c;
        }
        .header-questionList {
            line-height: 40px;
            font-size: 13px;
            div {
                display: inline-block;
                margin-right: 10px;
            }
            span {
                font-size: 12px;
                color: #b4b4b4;
            }
        }
        .header-topicList {
            line-height: 40px;
            .header-topicName {
                padding: 4px 10px;
                background-color: #e1eaf2;
                color: #4682b4;
                border-radius: 3px;
            }
            .header-topicNum {
                margin-left: 10px;
                color: #b4b4b4;
            }
        }
        .header-userList {
            // height: 60px;
            padding: 10px;
            overflow: hidden;
            .header_userImgBox {
                width: 36px;
                height: 36px;
                float: left;
                margin-right: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 3px;
                }
            }
            .header-userName {
                font-size: 13px;
                line-height: 18px;
                b {
                    margin-right: 10px;
                }
                span {
                    font-size: 50%;
                    color: #b4b4b4;
                }
            }
            .header_userInfo {
                height: 18px;
                line-height: 25px;
                color: #cfcfcf;
            }
        }
    }
}

.zh-top-search-input {
    width: 110px;
    color: #49525c;
    border: none;
    background-color: #e1eaf2;
    outline: none;
    padding: 7px 50px 7px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: 0.5s;
    &:focus {
        width: 240px;
        background-color: #ffffff;
    }
}

.afa-search {
    position: relative;
    right: 20px;
    color: $main-color;
}

.header-columnBox {
    float: left;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    li {
        padding: 0 15px;
        color: #c6c6c6;
        float: left;
        &:hover {
            color: #ffffff;
        }
    }
}

.header-questionBox {
    float: right;
    //padding: 7px 50px 7px 10px;
    //border: 1px solid #3b79b4;
    span {
        padding: 7px 15px;
        border: 1px solid #3b79b4;
        border-radius: 5px;
        background-color: #ffffff;
        color: #b4b4b4;
        //color: $main-color;
        cursor: pointer;
        &:hover {
            //background-color: #ffffff;
            color: $main-color;
        }
    }
}

.header-userInfoBox {
    float: right;
    line-height: 49px;
    height: 45px;
    margin-left: 10px;
}

.header-user-1 {
    position: relative;
    top: -1px;
    display: table;
    padding: 0 10px;
    float: left;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        overflow: inherit;
        text-decoration: none;
        background-color: #3b79b4;
    }
    .header-userImgBox {
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
        width: 27px;
        transition: 2s;
        .header-userImg {
            height: 27px;
            width: 27px;
            border-radius: 3px;
        }
    }
    .header-userNameBox {
        padding-left: 10px;
        width: 70px;
        span {
            color: #ffffff;
            font-size: 14px;
        }
    }
    .header-extendBox {
        position: absolute;
        left: 0px;
        width: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        color: #ffffff;
        cursor: pointer;
        li {
            padding: 0 15px;
            background-color: #3b79b4;
            border-bottom: 1px solid #3371b4;
            color: #c6c6c6;
            &:last-child {
                border-radius: 0 0 3px 3px;
                border: none;
            }
            &:hover {
                background-color: $main-color;
                color: #ffffff;
            }
            .afa-extend {
                font-size: 17px;
            }
        }
        span {
            font-size: 14px;
            margin-left: 16px;
        }
    }
}

.header-user-2 {
    float: right;
    .afa-power-off {
        display: inline-block;
        line-height: 45px;
        height: 45px;
        padding-left: 8px;
        color: #c6c6c6;
        cursor: pointer;
        font-size: 18px;
        position: relative;
    }
    .afa-power-off:hover {
        color: #ffffff;
        text-decoration: none;
    }
}
